.home {
  height: 100vh;
  background-color: #333;
	min-height: 400px;
  background-attachment: fixed;
	background-size: cover;
	color: #fff;	
	text-align: center;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.home-header {
	position: absolute;
	left: 50%;
	top:50%;
  transform: translateX(-50%) translateY(-50%);
  border-left: 6px solid #fff;
}

.home-title {
  font-size: 3rem;
  margin: 25px;
}

section#about_me {
	color: white;
	background-color: black; 
	padding-bottom: 10px;
	display: flex;
}

.about_me-header h1 {
	padding-top: 5px;
	color: white;
	text-align: center;
	background: black;
}

.photo {
	margin-left: 20rem;
}

.date {
	margin-left: 100px; 
	margin-right: 300px;
}

.goal {
	text-align: top left;
    display: inline;
    margin-left: 100px;
}
.goal h2 {
	color: white;
}
.mydate{
	direction: rtl;
	display: inline;
	margin-left: 50px;
}

@media (max-width: 768px) {
	html {
		font-size: 9px;
	}
	.container {
		width: 95%;
	}
	.portfolio-box, .footer-info, .social-links, .callback {
		width: 100%;
	}
	.portfolio-box {
		margin-bottom: 5rem;
	}
	.footer-info, .social-links, .callback {
		margin-bottom: 5rem;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 8px;
	}
	.container {
		width: 480px;
	}
}

@media (max-width: 960px) {
	.portfolio-box {
		padding: 2rem;
	}
}